<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>スタイルシート（Casdading Style Sheet = css）の勉強</title>
	<link rel="stylesheet" href="mystyle.css">
	<!--
	<style>
		h1{ color: red;}
	</style>
	-->
	
</head>

<body>
	<h1>見出し</h1>
	<p>こんにちは<span class="test">！</span></p>
	
	<div id="main">メインだよ！</div>
	
	<p>text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
	<p>こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは こんにちは</p>
</body>

</html>